<footer class="footer_area">
    <div class="ftr_btm_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="ftr_social_icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <p class="copyright_text text-center">© 2022 All Rights Reserved - Kessler, Néstor Damián</p>
                </div>
                <div class="col-sm-3">
                    
                    <img id="logoEstudio" src="./assets/QR_chat_damian.png" width="20%">
                </div>


            </div>
        </div>
    </div>
</footer>