<div class="est perfil" >
    <h4 id="titulos"><span>Educación</span>
      <button class="btn btn-primary" type="button" data-bs-toggle="modal" *ngIf="isLogged" data-bs-target="#nuevo_edu"
      style="float: right;">
      <i class="fas fa-plus"></i> Nuevo
    </button>
  </h4>
    <br>
    <!--
    <div class="btn-edit">
      <a href="#" class="btn-rigth"><i class="fas fa-plus"></i></a>
    </div>-->
    
    <!-- Este es el diseño de estructura que tenian en la clase
    <ul class="items-list">
      <li *ngFor="let educacion of educacionList">
        <div class="data-container">
          <a href="#">
            <div class="logo-image-container">
              <img 
              class="logo-image"
              [src]="educacion.img">
            </div>
            <div class="list-info">
              <div>
                <h3>{{educacion.universidad}}</h3>
                <h4>{{educacion.titulo}}</h4>
                <p>{{educacion.descripcion}}</p>
                <p>{{educacion.fecha}}</p>
              </div>
            </div>
          </a>
        </div>
        <div class="data-control">
          <div class="btn-edit">
            <a href="#" class="btn-rigth"><i class="fas fa-pen"></i></a>
          </div>
        </div>
      </li>
    </ul>
    -->
    
    
    <li *ngFor="let educacion of educacionList" style="list-style-type: none" id="listas">
      <div class="row" id="contenedor">
            <div class="col-lg-3">
              <img [src]="educacion.img" width=220px height=100px>
            </div>

            <div class="col-lg-8">
              <h3 class="text"><strong>{{educacion.universidad}}</strong></h3>
              <h4>{{educacion.titulo}}</h4>
              <p>{{educacion.descripcion}}</p>
              <p>{{educacion.periodo_desde}} - {{educacion.periodo_hasta}}</p>
                        
            </div>

            <div class="col-lg-1" *ngIf="isLogged">
              <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
                [attr.data-bs-target]="'#editar_educacion'+ educacion.id">
                  <i class='fas fa-pen'></i>
                </button>
                <br>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
                  [attr.data-bs-target]="'#delete_educacion'+ educacion.id">
                  <i class='fas fa-trash-alt'></i>
                </button>
              </div>
            </div>
        
               
      </div>

      <!-- modal de eliminar -->

  <div class="modal fade" id="delete_educacion{{educacion.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Eliminar Educacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Esta seguro que desea eliminar la información de Educacion?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" (click)="(eliminar_edu(educacion))" 
          class="btn btn-primary" data-bs-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- modal de edición Laboral -->

<form class="modal fade" id="editar_educacion{{educacion.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true" (ngSubmit)="(editar_edu(educacion))">
  <div class="modal-dialog" [formGroup]="editarEducacion">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar Educacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          
          <!--<input type="text" [ngModel]="empleos.nombre" class="form-control" formControlName="nombre" id="nombre"> probar corregir el doble binding, error al recargar la pagina-->
          <label for="exampleFormControlInput1" class="form-label">Título</label>
          <input type="text" class="form-control" formControlName="titulo" id="titulo">
          <label for="exampleFormControlInput1" class="form-label">Universidad</label>
          <input type="text" class="form-control" formControlName="universidad" id="universidad">
          <label for="exampleFormControlInput2" class="form-label">Periodo desde</label>
          <input type="text" class="form-control" formControlName="periodo_desde" id="periodo_desde">
          <label for="exampleFormControlInput3" class="form-label">Periodo hasta</label>
          <input type="text" class="form-control" formControlName="periodo_hasta" id="periodo_hasta">
          <label for="exampleFormControlInput3" class="form-label">Descripción</label>
          <textarea type="text" class="form-control" formControlName="descripcion" id="descripcion"></textarea>
          <label for="exampleFormControlInput3" class="form-label">Link imagen</label>
          <input type="text" class="form-control" formControlName="img" id="img">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
      </div>
    </div>
  </div>
</form>


<!-- modal de nuevo laboral -->

<form class="modal fade" id="nuevo_edu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true" (ngSubmit)="(nuevo_edu())">
  <div class="modal-dialog" [formGroup]="editarEducacion">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Nueva Educacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Título</label>
          <input type="text" class="form-control" formControlName="titulo" id="titulo">
          <label for="exampleFormControlInput1" class="form-label">Universidad</label>
          <input type="text" class="form-control" formControlName="universidad" id="universidad">
          <label for="exampleFormControlInput2" class="form-label">Periodo desde</label>
          <input type="text" class="form-control" formControlName="periodo_desde" id="periodo_desde">
          <label for="exampleFormControlInput3" class="form-label">Periodo hasta</label>
          <input type="text" class="form-control" formControlName="periodo_hasta" id="periodo_hasta">
          <label for="exampleFormControlInput3" class="form-label">Descripción</label>
          <textarea type="text" class="form-control" formControlName="descripcion" id="descripcion"></textarea>
          <label for="exampleFormControlInput3" class="form-label">Link imagen</label>
          <input type="text" class="form-control" formControlName="img" id="img">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Nuevo</button>
      </div>
    </div>
  </div>
</form>

    </li>
  
    

  </div>
