<div class="est perfil" >
    <h4 id="titulos">Educación</h4>
    <br>
    <!--
    <div class="btn-edit">
      <a href="#" class="btn-rigth"><i class="fas fa-plus"></i></a>
    </div>-->
    
    <!-- Este es el diseño de estructura que tenian en la clase
    <ul class="items-list">
      <li *ngFor="let educacion of educacionList">
        <div class="data-container">
          <a href="#">
            <div class="logo-image-container">
              <img 
              class="logo-image"
              [src]="educacion.img">
            </div>
            <div class="list-info">
              <div>
                <h3>{{educacion.universidad}}</h3>
                <h4>{{educacion.titulo}}</h4>
                <p>{{educacion.descripcion}}</p>
                <p>{{educacion.fecha}}</p>
              </div>
            </div>
          </a>
        </div>
        <div class="data-control">
          <div class="btn-edit">
            <a href="#" class="btn-rigth"><i class="fas fa-pen"></i></a>
          </div>
        </div>
      </li>
    </ul>
    -->
    
    
    <li *ngFor="let educacion of educacionList" style="list-style-type: none" id="listas">
      <div class="row" id="contenedor">
            <div class="col-lg-3">
              <img [src]="educacion.img" width=220px height=100px>
            </div>

            <div class="col-lg-8">
              <h3 class="text"><strong>{{educacion.universidad}}</strong></h3>
              <h4>{{educacion.titulo}}</h4>
              <p>{{educacion.descripcion}}</p>
              <p>{{educacion.periodo_desde}} - {{educacion.periodo_hasta}}</p>
                        
            </div>

            <div class="col-lg-1">
              <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editar_edu">
                  <i class='fas fa-pen'></i>
                </button>
                <br>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_edu">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                  </svg>
                </button>
              </div>
            </div>
        
        <!--
        <div class="btn-edit">
          <a href="#" class="btn-rigth">
              <i class='fas fa-pen'></i>
          </a>
        </div>-->
        
      </div>
    </li>
  
    <!-- diseño inicial, incluye la edición por medio de script de primeras clases, por eso queda guardado
    <div class="row">
      <div class="col-lg-4">
        <img src="assets/FCECO.png">
      </div>

      <div class="col-lg-8">
        <p class="PyME"><strong>Curso de Posgrado en Asesoramiento Tributario y Previsional para la Gestión PyME - UNER</strong></p>
        <p>2015-2015</p>
        <p>Incorpora conocimientos técnicos respecto a la gestión tributaria y previsional aplicado a las pequeñas y medianas empresas. Planificación fiscal, aspectos previsionales y tributarios locales y nacionales.</p>
        
        
      </div>

      <div class="btn-edit" onclick="cambiarParrafo()">
        <a href="#" class="btn-rigth">
            <i class='fas fa-pen'></i>
        </a>
      </div>

      <div>
          <input id="PyME" type="text" oninput="ingresarTextoNuevo(this.valor)" style="display:none">
      </div>
    </div>
    -->

  </div>
