<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="130" alt="Argentina Programa Logo" src="assets/Logo_AP.png" />
  <span>Argentina Programa - #YoProgramo</span>
  <div class="spacer"></div>
  <!-- falta corregir links y colores de los accesos de twitter y youtube -->
  
    <ul class="ftr_social_icon me-auto mb-2 mb-md-0">
      <li><a href="https://www.facebook.com/damy.k.07"><i class="fa fa-facebook "></i></a></li>
      <li><a href="https://www.instagram.com/kesslermullerkm/"><i class="fa fa-instagram "></i></a></li>
      <li><a href="https://www.linkedin.com/in/néstor-damián-kessler-780010b1"><i class="fa fa-linkedin "></i></a></li>
      <li><a href="#"><i class="fa fa-twitter "></i></a></li>

    </ul>
  
  <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!isLogged">
    <li class="nav-item"><a class="nav-link" aria-current="page" href='iniciar-sesion'>Iniciar Sesión</a></li>
  </ul>
  <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="isLogged">
    <li class="nav-item"><a class="nav-link" aria-current="page" (click)="cerrar()" href="portfolio">Cerrar sesión</a>
    </li>
  </ul>

</div>