#image1 {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

#fotoPerfil {
    position: absolute;
    top: 41.5%;
    left: 13.5%;
    height: 30%;
    border-radius: 50%;
    
    
}

#logoEstudio {
    
    width: 73%;
    height: 400px;
    
}

#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #101010
}
.row{
    
    width: 102%;
    display: flex;
    justify-content: space-around;

}
.text{
    position: relative;
    color: #777;    
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    margin-top: 20px;

}
#acercaDe{
    position: relative;
    color: rgb(241, 240, 240);    
    letter-spacing: 1px;
    
    transition: 0.5s;
    margin-top: 20px;
}
#nombreProp{
    position: relative;
    color: rgb(241, 240, 240);    
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    margin-top: 20px;
}
