<!-- pagina principal -->
<div class="container-fluid">
  <div>
        
      <img id="logoEstudio" src="assets/Logo_Estudio.jpeg" width="800" height="400">
    
    <br>
    <br>
    

    <div class="row">
      
      <div class="col-lg-4">
        <img id="fotoPerfil" src="assets/Foto_yo.jpg" top="100" position="absolute">
        <h3>{{miPorfolio.nombre}}</h3>
        <p>{{miPorfolio.profesion}}</p>
        <p>{{miPorfolio.residencia}}</p>
        <p><a class="btn btn-secondary" href="#">Más detalles &raquo;</a></p>  
        
      </div>

      <br>

      <div class="col-lg-8">
        <h4>Acerca de</h4>
        <p>Contador de perfil bajo, acostumbrado al trabajo bajo presión, experiencia en diferentes sectores de la sociedad, público y privado. Gran manejo de herramientas informáticas, planillas de cálculos entre otras. Proactivo, siempre en busca de mejoras en pos de la institución.</p>

      </div>

    </div>

  </div>
