<div class="est perfil">
  <h4 id="titulos"><span>Experiencia Laboral</span>
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#nuevo_lab"
      style="float: right;">
      <i class="fas fa-plus"></i> Nuevo
    </button>
  </h4>
  <br>
</div>

<li style="list-style-type: none" *ngFor="let empleos of laboralList">
  <div class="row" id="contenedor">
    <div class="col-lg-3">
      <img [src]="empleos.img" width=220px height=100px>
    </div>

    <div class="col-lg-8">
      <h3 class="text"><strong>{{empleos.nombre}}</strong></h3>
      <h4>{{empleos.posicion}}</h4>
      <p>{{empleos.descripcion}}</p>
      <p>{{empleos.fecha}}</p>

    </div>

    <div class="col-lg-1">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
          [attr.data-bs-target]="'#editar_lab'+ empleos.id">
          <i class='fas fa-pen'></i>
        </button>
        <br>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
          [attr.data-bs-target]="'#delete_lab'+ empleos.id">
          <i class='fas fa-trash-alt'></i>
        </button>
      </div>
    </div>

  </div>



  <!-- modal de eliminar -->

  <div class="modal fade" id="delete_lab{{empleos.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Eliminar Experiencia Laboral</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Esta seguro que desea eliminar la información de Experiencia Laboral?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" (click)="(eliminar_lab(empleos))" class="btn btn-primary">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal de edición Laboral -->

  <form class="modal fade" id="editar_lab{{empleos.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" (ngSubmit)="(editar_lab(empleos))">
    <div class="modal-dialog" [formGroup]="editarLaboral">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Editar Experiencia Laboral</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Empresa</label>
            <!--<input type="text" [ngModel]="empleos.nombre" class="form-control" formControlName="nombre" id="nombre"> probar corregir el doble binding, error al recargar la pagina-->
            <input type="text" class="form-control" formControlName="nombre" id="nombre">
            <label for="exampleFormControlInput1" class="form-label">Posición</label>
            <input type="text" class="form-control" formControlName="posicion" id="posicion">
            <label for="exampleFormControlInput2" class="form-label">Fecha desde</label>
            <input type="text" class="form-control" formControlName="anioDesde" id="anioDesde">
            <label for="exampleFormControlInput3" class="form-label">Fecha hasta</label>
            <input type="text" class="form-control" formControlName="anioHasta" id="anioHasta">
            <label for="exampleFormControlInput3" class="form-label">Descripción</label>
            <textarea type="text" class="form-control" formControlName="descripcion" id="descripcion"></textarea>
            <label for="exampleFormControlInput3" class="form-label">Link imagen</label>
            <input type="text" class="form-control" formControlName="img" id="img">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </form>


  <!-- modal de nuevo laboral -->

  <form class="modal fade" id="nuevo_lab" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" (ngSubmit)="(nuevo_lab())">
    <div class="modal-dialog" [formGroup]="editarLaboral">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Nueva Experiencia Laboral</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Empresa</label>
            <input type="text" class="form-control" formControlName="nombre" id="nombre">
            <label for="exampleFormControlInput1" class="form-label">Posición</label>
            <input type="text" class="form-control" formControlName="posicion" id="posicion">
            <label for="exampleFormControlInput2" class="form-label">Fecha desde</label>
            <input type="text" class="form-control" formControlName="anioDesde" id="anioDesde">
            <label for="exampleFormControlInput3" class="form-label">Fecha hasta</label>
            <input type="text" class="form-control" formControlName="anioHasta" id="anioHasta">
            <label for="exampleFormControlInput3" class="form-label">Descripción</label>
            <textarea type="text" class="form-control" formControlName="descripcion" id="descripcion"></textarea>
            <label for="exampleFormControlInput3" class="form-label">Link imagen</label>
            <input type="text" class="form-control" formControlName="img" id="img">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Nuevo</button>
        </div>
      </div>
    </div>
  </form>


</li>